body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
.hero{
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6));

}
h1{
    font-size: 3rem;
}
.hero__info{
    text-align: center;
    padding-top: 15%;
    color: #fff;
}
button{
    padding-top: 5%;
    background-color: #FF5959;
    border: none;
    padding: 1rem 2rem;
    color: white;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
}

.flex-container {
    display: flex;
}
.flex-container .card {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.subheading{
    height: 100vh;
    text-align: center;
    align-items: center;
}